@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #313131;
}

.bodyEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #313131;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 340px;
    padding: 20px;
    margin: 20px;
    background: #3f3f3f;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #e4972a;
    /* #995A1C */
    border-right: 20px solid #e4972a;
    ;
}

.container .card.active::before {
    border-top: 20px solid #995A1C;
    border-right: 20px solid #995A1C;
}

.container .card .icon {
    margin-bottom: 10px;
}

.container .card .icon img {
    max-width: 90px;
}

.container .card .content {
    position: relative;
    height: 215px;
    overflow: hidden;
}

.container .card.active .content {
    height: auto;
}

.container .card .content::before {
    /* content: ''; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content .card.active .content::before {
    display: none;
}

.container .card .content h3 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .card .content p {
    font-weight: 300;
    color: #ccc;
    font-size: 0.74em;
}

.container .card .more {
    position: relative;
    padding: 10px 15px;
    background: #e4972a;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #383838;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.container .card.active .more {
    background: #995A1C;
    color: #fff;
}

.container .card .more::before {
    content: 'Ver exemplos';
}

.container .card.active .more::before {
    content: 'Ver Menos';
}

section {
    height: calc(80vh - 50vh);
    padding-top: 6%;
}

section h1 {
    display: flex;
    justify-content: center;
    color: #e4972a;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoOab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-top: -3%;

}

.logoOab img {
    width: 70px;
    max-width: 100%;
    height: auto;
    background: #e6e6e6;
}

.logoOab p {
    font-weight: 600;
    color: #000000;
    font-size: 9.6px;
    background: #e6e6e6;
    padding: 5px;
    border-radius: 10px;
}

.fundoOab {
    background: #e6e6e6;
    width: 130px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.logo img {
    width: 400px;
    max-width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 576px) {
    section h1 {
        text-align: center;
        padding-top: 50px;
    }

    /* celular */
    .logo img {
        width: 70%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .logoOab {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-top: -3%;
    }
}

@media only screen and (min-width: 1024px) {

    /* desktop */
    .logo img {
        width: 400px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
}